.icon{
	height : 1.2rem;
	width : 1.2rem;
	padding-bottom : 2px;
}

.icon-button{
	background-color: transparent;
	padding : 0;
	margin :  .5rem 0 .8rem 0;
	border :0;
	outline:none;
}

.icon-small{
	background-color: transparent;
	height : 1rem;
	width : 1rem;
	padding: 0;
	-webkit-filter: invert(100%);
}

.collapse_button{
background-color: #323232 !important;
box-shadow: none !important;
height : 30px !important;
margin: 0 !important;
padding: 0 10px !important;
}

.logo{
	
	height : 2.5rem;
	padding: 10px 10px 5px 10px;
}
